﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Relational Database", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Simple <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-level">
                            <li>@Html.ActionLink("staff", "Index", "staffs")</li>
                            <li>@Html.ActionLink("room", "Index", "rooms")</li>
                            <li>@Html.ActionLink("specialization", "Index", "specializations")</li>
                            <li>@Html.ActionLink("medInsurance", "Index", "medInsurances")</li>
                            <li>@Html.ActionLink("medicine", "Index", "medicines")</li>
                            <li>@Html.ActionLink("degree", "Index", "degrees")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Multiple <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-level">
                            <li>@Html.ActionLink("coverage", "Index", "coverages")</li>
                            <li>@Html.ActionLink("patient", "Index", "patients")</li>
                            <li>@Html.ActionLink("office", "Index", "offices")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Complex <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-level">
                            <li>@Html.ActionLink("doctor", "Index", "doctors")</li>
                            <li>@Html.ActionLink("visit", "Index", "visits")</li>
                            <li>@Html.ActionLink("prescription", "Index", "prescriptions")</li>
                            <li>@Html.ActionLink("medication", "Index", "medications")</li>
                            <li>@Html.ActionLink("doctor degrees", "Index", "degree_doctor")</li>
                            <li>@Html.ActionLink("payment", "Index", "payments")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
