﻿@model ORDB.Models.prescription

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>prescription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctor.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patient.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patient.fName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
