﻿@model ORDB.Models.medication

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>medication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medicine.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medicine.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prescription.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prescription.comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
